.form__box__rsa {
  form {
    label {
      color: red !important;
    }
  }
}

.rsa__shifrText {
  padding: 10px;
  width: 100%;
  text-align: center;
  background-color: aliceblue;
  border-radius: 10px;
}
